<!DOCTYPE html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>StudyBuddy</title>

      <link rel="shortcut icon" href="/assets/favicon.ico">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="./css/main.css">
      <link rel="stylesheet" href="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.15.0/maps/maps.css>">
      <link rel="stylesheet" type="text/css" href="https://api.tomtom.com/maps-sdk-for-web/cdn/plugins/SearchBox/3.1.3-public-preview.0/SearchBox.css"/>

      {{!-- <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/plugins/SearchBox/3.1.3-public-preview.0/SearchBox-web.js"></script> --}}
      <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.1.2-public-preview.15/services/services-web.min.js"></script>
      <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.15.0/services/services-web.min.js'></script>
      <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.15.0/maps/maps-web.min.js"></script>

  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light">
      <div class="navbar-container" style="padding:10px;">
        <a class="navbar-brand" href="/"><img src="../../assets/Logo.png" alt="Logo for StudyBuddy depicting a cat holding a cup of coffee" style="width:128px;height:128px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="list" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            {{#if logged_in}}
            <li class="nav-item">
              <a class="nav-link active" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="logoutLink" href="/login">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="locations" href="/locations">Locations</a>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link active" href="/login">Login</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
  {{{body}}}

  <script src="./js/logout.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
      
  </body>
</html>