{{!-- <div class="'tt-side-panel" style="justify-content:center;align-items:center;display:flex;">
    <header class="tt-side-panel__header"></header>
</div>
<div style="height: 90vh;width: 100vw;" id="map" style="justify-content:center;align-items:center;display:flex;">
    <div id="poiBoxInfo" class="poi">
        <div id="poiname"></div><br>
        <div id="categories"></div><br>
        <div id="address"></div><br>
        <div id="url"></div><br>
        <div id="phone"></div><br>
        <!-- <img onclick="nextPhoto()" id="currentPhoto" src="" alt=""> -->
    </div>
</div>

<script src="./script.js"></script> --}}